<div class="container-fluid">
  <div class="row justify-content-center">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Horario</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let curso of list; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td> {{ curso.nombre }}</td>
        <td>{{ curso.horario }}</td>
        <td>{{ curso.fechaInicio | date: 'dd/mm/yyyy' }}</td>
        <td>{{ curso.fechaFin | date: 'dd/mm/yyyy' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
