<div class="container-fluid">
  <div class="row justify-content-start my-3">
    <div class="col-12 col-md-3">
      <button class="btn btn-primary w-100" (click)="onCreate()">Crear</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Edad</th>
        <th scope="col">Correo</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let estudiante of list; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td> {{ estudiante.nombres }}</td>
        <td>{{ estudiante.apellidos }}</td>
        <td>{{ estudiante.edad }}</td>
        <td>{{ estudiante.correo }}</td>
        <td>
          <a href="javascript:" class="btn btn-xs btn-outline-info mx-1"
             (click)="onEdit(estudiante)" ngbTooltip="Editar estudiante">
            <span class="fa fa-pencil-square-o"></span>
          </a>
          <a href="javascript:" class="btn btn-xs btn-outline-danger mx-1"
             (click)="onDelete(estudiante)" ngbTooltip="Eliminar estudiante">
            <span class="fa fa-trash"></span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
